@import url(reset.css);

/* font */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* footer */
footer {
    height: 50vh;
}
footer > * {
    font-family: 'GmarketSansMedium';
}
footer .f-wrap {
    width: 80%;
    margin: 2% auto;
}
footer .f-menu ul {
    display: flex;
    justify-content: space-between;
}
footer .f-main {
    margin-top: 6%;
}
footer .f-main h4 {
    background-color: beige;
    text-align: center;
}
footer .f-main p {
    font-family: 'GmarketSansBold';
}
footer .f-snsicon{
    margin-top: 2%;
}
footer .f-snsicon ul {
    display: flex;
    width: 14%;
    justify-content: space-evenly;
    margin: auto;
}
footer .f-snsicon ul li i {
    font-size: 2rem;
}

/* 111 */
@media only screen and (max-width:767px) {
    /* footer */
    footer {
        height: 55vh;
    }
    footer .f-menu {
        width: 100%;
        font-size: 1rem;
        margin-top: 6%;
    }
    footer .f-main {
        display: block;
    }
    footer .f-main h4{
        width: 100%;
        line-height: 85px;
    }
    footer .f-main ul {
        font-size: .9rem;
        text-align: left;
        margin-top: 6%;
    }
    footer .f-main ul li {
        line-height: 34px;
    }
    footer .f-main p {
        margin-top: 4%;
    }
    footer .f-snsicon ul {
        width: 50%;
    }
}

/* 222 */
@media only screen and (min-width:768px) {
    /* footer */
    footer {
        height: 55vh;
    }
    footer .f-menu {
        width: 100%;
        font-size: 1rem;
        margin-top: 6%;
    }
    footer .f-main {
        display: block;
    }
    footer .f-main h4{
        width: 100%;
        line-height: 85px;
    }
    footer .f-main ul {
        font-size: .9rem;
        text-align: left;
        margin-top: 6%;
    }
    footer .f-main ul li {
        line-height: 34px;
    }
    footer .f-main p {
        margin-top: 4%;
    }
    footer .f-snsicon ul {
        width: 50%;
    }
}
/* pc */
@media only screen and (min-width:992px) {
    /* footer */
    footer {
        height: 50vh;
    }
    footer .f-menu {
        width: 40%;
        margin: auto;
        font-size: 1.2rem;
    }
    footer .f-main {
        display: flex;
        justify-content: space-evenly;
    }
    footer .f-main h4 {
        width: 20%;
        line-height: 130px;
    }
    footer .f-main ul {
        margin-top: 0;
        font-size: 1.1rem;
        text-align: center;
    }
    footer .f-main ul li {
        line-height: 34px;
    }
    footer .f-main p {
        font-size: 1.35rem;
        margin-right: 15%;
        margin-top: 3%;
    }
    footer .f-snsicon ul {
        width: 14%;
        margin-top: 6%;
    }
}
