
/* font */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* nav hamburger */
.nav-button {
    position: absolute;
    margin: 0 auto;
    width: 38px;
    height: 30px;
    z-index: 998;
    right: 3%;
    top: 5%;
}
.hamburger {
    width: 40px;
    height: 40px;

}
.hamburger .bar {
    position: absolute;
    display: block;
    width: 30px;
    height: 4px;
    background-color: #292826;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}
.bar1 {
    top: 0;
}
.bar2, .bar3 {
    top: 12.5px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
/* nav hamburger ainmate */
.hamburger-Ani .bar1 {
    transform-origin: 5%;
}
.hamburger-Ani .bar4 {
    transform-origin: 5%;
}
.change .bar1 {
    transform: rotate(45deg);
    width: 42px;
    height: 3px;
}
.change .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
}
.change .bar2 {
    transform: rotate(-45deg);
    width: 42px;
    background-color: transparent;
}
.change  .bar4 {
    transform: rotate(-45deg);
    width: 42px;
    height: 3px;
}
/* nav list */
.nav-wrap {
    
    font-family: 'GmarketSansBold';
    width: 100%;
    height: 0;
    background-color: aliceblue;
    overflow-y: hidden;
    font-size: 8em;
    z-index: 997;
}
.nav-box {
    width: 85%;
    padding: 6%;
}
.nav-box ul li a {
    display: block;
}
.nav-box ul li a:hover {
    text-decoration: none;
    color: #F9D142;
}


/* 嶺뚮ㅄ維��뚳옙�뜝�럩逾� */
@media only screen and (max-width:767px) {
    .nav-button { 
        right: 4%;
        top: 3%;
    }

    /* nav list */
    .nav-wrap {
        font-size: 5.6em;
    }
    .nav-box {
        width: 100%;
        padding: 30% 3%;
    }
    .nav-box li:nth-child(even){
        margin: 6% 0;
    }
    section .img-box .img-inner {
        width: 45%;
        top: 25%;
        left: 29%;
    }
    /* main text */
    section .text-box {
        bottom: 32%;
        left: 10%;
    }
    section .text-box .text {
        font-size: 2.5em;
    }
    /* btn-resrvation */
    a.btn-resrvation {
        right: 6%;
        bottom: 3%;
    }
    a.btn-resrvation i {
        font-size: 3rem;
    }
}

/* �뜝�럡臾띰옙�눀�겫�뻹逾� */
@media only screen and (min-width:768px) {
    /* img-box */
    section .img-box .img-inner {
        top: 24%;
        left: 33%;
    }
    /* text-box */
    section .text-box {
        bottom: 26%;
        left: 12%;
    }
    section .text-box .text {
        font-size: 3.5em;
    }
    /* btn-resrvation */
    a.btn-resrvation {
        right: 4%;
        bottom: 4%;
    }
}

/* pc */
@media only screen and (min-width:992px) {
    /* img-box */
    section .img-box .img-inner {
        left: 33%;
        top: 13%;
    }

    /* text-box */
    section .text-box {
        bottom: 14%;
        left: 20%;
    }
    section .text-box .text {
        font-size: 4.5em;
    }

    /* btn-resrvation */
    a.btn-resrvation {
        bottom: 5%;
        right: 2.5%;
    }
}
