@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#caledar>tbody>tr>td:checked {
    background-color: #ff3f3e;
    color: #fff;
}

#calendar {
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 0.8vw;
  	border-collapse: separate;
}

#calendar>tbody>tr>td {
	font-size : 1.5rem;
	  width: 30px;
	  font-family: 'GmarketSansBold'
    
};