@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ font-family: 'GmarketSansBold';
}

.hover2 {
    transition: transform 0.3s ease;
}
.hover2:hover {
    transform: scale3d(0.9, 0.9, 1) rotate3d(0, 0, 1, -1deg);
}
.hover1:hover {
    transform: scale3d(0.9, 0.9, 1) rotate3d(0, 0, 1, -1deg);
}
.hover1 {
    transition: transform 0.3s ease;
}

.resscrolldesign{
scrollbar-track-color:#f6f6f6;
scrollbar-base-color:#f6f6f6;
scrollbar-face-color:#000;
scrollbar-shadow-color:#000;
scrollbar-arrow-color:#f6f6f6;
scrollbar-3dlight-color:#f6f6f6;
scrollbar-highlight-color:#f6f6f6;
-ms-overflow-style:scrollbar}
::-webkit-scrollbar{
width:.938vw}
::-webkit-scrollbar-thumb{
background-color:#F9D142;border-radius:.521vw}
::-webkit-scrollbar-track{
background-color:white;border-radius:.521vw}



.reserve-title {
   	font-size: 2rem;
    padding-top: 40px;
    display: block;
    font-family: 'GmarketSansBold';
    
}
.reserve-title1 {
    font-size: 1.3rem;
    display: block;
    font-family: 'GmarketSansBold';
}
.reserve-title2 {
    font-size: 1.0rem;
    display: block;
    font-family: 'GmarketSansMedium';
}


.box-step {
    overflow: hidden;
    width: 100%;
    margin: 50px 0;
    border: 0.5px solid #d6d6d6;
    border-top: none;
    font-size: 15px;
    background: white;
    display : flex;
}
.box-step dl {
    width: 25%;
    
    border-top: 1px solid #e0e0e0;
}
.box-step>dl>dd {
    padding: 19px 30px;
}
.box-step>dl>ddd {
    padding: 19px 30px;
}

.box-step>dl>dt {
    padding: 18px 30px 18px;
    background: #fff;
    color: #000;
    text-align:center;
    font-size: 1.5rem;
}
.round {
    display: inline-block;
    padding: 0px 20px;
    border-radius: 10px;
    background: #F9D142;
    color: #292826;
    font-size: 1.5rem;
    vertical-align: middle;
}


.date-choice>.includeCallendar {
    overflow-y: scroll;
    
    padding-right: 0.521vw;
}
.theme-choice>label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0.521vw;
    cursor: pointer;
}

.theme-choice input {
	position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.theme-choice input:checked+span {
    background-color: #F9D142;
    color: #292826;
}

.theme-choice label span {
    display: block;
    width: 100%;
    padding: 0 1.563vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: lightgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    border-radius: 8px 8px;
}

.theme-choice label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 0.521vw;
    cursor: pointer;
}


.time-choice input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.time-choice input:checked+span {
    background-color: #F9D142;
    color: #292826;
}

.time-choice label {
    display: block;
    text-align: center;
    cursor: pointer;
}

.time-choice label span {
    display: block;
    width: 100%;
    padding: 0.1563vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ebebeb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
   
}
.time-choice label span img{
    width: 0.9vw;
    height: 2vh;
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
}



.poster-choice>#themeImage {
    overflow-y: scroll;
}


.step-btn1 {
    width: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid;
    border-color: #F9D142;
    background: #F9D142;
    color: #292826;
    text-align: center;
    margin-bottom: 5%;
}
.step-btn2 {
    width: 100%;
    padding: 0.2rem;
    font-size: 1.2rem;
    border: 1px solid;
    border-color: #F9D142;
    background: #F9D142;
    color: #292826;
}
	


.step2-table th:first-child {
    background-color: #000;
    color: #fff;
    border-bottom-color: #fff;
}
body {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 144, 144); */
    
}
#reserveRegion {
	width:100%;
	maring:auto;
}
/*여기까지 완료*/
#fullDiv{
	width: 100%
}
#headerDiv{
	width: 70%;
	margin:auto;
}


#reserveCheckCancleDiv{
	width:30%;
	margin-top:13% ;
	margin-bottom:2%;
	text-align: center
}



/*모바일*/
@media only screen and (max-width:767px){
	
	.box-step {
		  flex-direction: column;
	}
	
	
	.box-step dl {
		width:100%
	}
	.theme-choice label span {
	    width: 90%;
	    padding: 2.2vw;
	    margin: 3% auto;
	    text-align: center;
	}
	
	.time-choice label span {
	    padding: 3vw;
	}
	.time-choice label {
		float: none;
		width: 90%;
		margin: 3% auto;
	}
	
	#reserveCheckCancleDiv{
	text-align: center;
	margin: 5% auto;
	}
	
	#headerDiv{
	flex-direction: column;
	}
	
	#reserveCheckCancleDiv {
    width: 34%;
   
	}
	
}
/*태블릿*/
@media only screen and (min-width:768px){
	
}
/*pc*/
@media only screen and (min-width:992px){
.reserve-title {
    font-size: 4rem;  
    
}
.reserve-title1 {
    font-size: 3rem;
}
.reserve-title2 {
    font-size: 2rem; 
}

#reserveCheckCancle{
	line-height: 4vw;
}


.box-step {
    overflow: hidden;
    width: 100%;
    margin: 50px 0;
    border: 0.5px solid #d6d6d6;
    border-top: none;
    font-size: 15px;
    background: white;
    display : flex;
}




	
	.theme-choice label span {
    display: block;
    width: 100%;
    height: 2.802vw;
    line-height: 2.802vw;
    padding: 0 1.563vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: lightgrey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    border-radius: 8px 8px;
	}
	.theme-choice>.theme {
    overflow-y: scroll;
    height: 23vw;
    padding-right: 0.521vw;
	}
	.time-choice label span {
    display: block;
    width: 100%;
    height: 3.802vw;
    line-height: 3.802vw;
    padding: 0.1563vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ebebeb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
}

.time-choice>.time {
    overflow-y: scroll;
    padding-right: 0.521vw;
}
.theme-choice>.theme {
    overflow-y: scroll;
    padding-right: 0.521vw;
}
.time-choice label {
    float: left;
    position: relative;
    display: block;
    width: 48.5%;
    margin-bottom: 0.521vw;
    margin-right: 1.5%;
    text-align: center;
    cursor: pointer;
}
.poster-choice>#themeImage {
    overflow-y: scroll;
    padding-right: 0.521vw;
    height: 23vw;
}


#headerTitleDiv{
	width:70%;
	margin:auto;
}

.step-btn1 {
    width: 10%;
    height: 7vh;
    font-size: 1.5rem;
    line-height: 3.7vw;
    font-weight: 700;
    border: 1px solid;
    border-color: #F9D142;
    background: #F9D142;
    color: #292826;
    text-align: center;
    margin-bottom: 5%;
}
.step-btn2 {
    width: 80%;
    height: 8vh;
    font-size: 2.0rem;
    line-height: 5vw;
    font-weight: 700;
    border: 1px solid;
    border-color: #F9D142;
    background: #F9D142;
    color: #292826;
    text-align: center;
}

#headerDiv{
	width: 70%;
	margin:auto;
	display: flex; 
}

#reserveRegion{
	width: 70%;
	margin: auto;
}




}