@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ font-family: 'GmarketSansBold';
}


#step2-table {
	width:100%;
    

}


#step2-table th {
    font-size: 1.2rem;
    font-weight: 300;
    width:15%;
    border: 0.052vw solid #f6f6f6;
    text-align: center;
    color:#fff;
}

#step2-table th:first-child {
	border: 0.052vw solid #000;
    background-color: #000;
    border-bottom-color: #fff;
    
   
}


#step2-table td {

    border: 0.052vw solid #000;
    font-size:1.2rem;
    width:80%;
    padding: 0.5vw;
}
#step2-table td p{
    margin-bottom:0;
}

#count-select{
  margin-bottom:0;
}
#count-select select {
    width: 100%;
    height: 1.646vw;
    border: 0.052vw solid #000;
    padding: 0 0.5vw;
    box-sizing: border-box;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-family: 'GmarketSansBold'
}


#reserveOk{
text-align: center;

}


#checkboxform{
margin-bottom: 3%;
margin-top: 3%;
}

#checkboxform > #rTerms{
	width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
}