body {
    background-color: #444;
    color: #eee;
}

.login-container {
    height: 100vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.form-control:focus{
    border-color: rgb(241, 206, 8);
    box-shadow: 0 0 0 0.2rem rgba(241, 206, 8, 0.25);
}

.forgot-link {
    font-size: 13px;
}
.forget-link label {
    margin-bottom: 0;
}

.login-form a {
    text-decoration: none;
    color: #eee
}

.login-form a:hover {
    color: rgb(241, 206, 8);
}
.btn-custom{
    background: rgb(241, 206, 8);
    border-color: rgb(241, 206, 8);
    color:#444;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
  }
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: rgb(241, 187, 8);
    border-color: rgb(241, 187, 8);
    color:#fff;
}
.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(241, 206, 8, 0.25);
}

.sns-login-btn {
    width: 70%;
    margin: auto;
}

.sns-login-btn img {
    width: 70px;
}
